<h1>My restaurants</h1>

<ul> <% @restaurants.each do |resto| %>
  <li> <%= link_to resto.name, restaurant_path(resto.id) %> -
      <%= link_to "add a comment", new_restaurant_review_path(resto.id) %>
  </li>
  <% end %>
</ul>
